body { 
    background-color: #ccddff; 
    font: 16px/1.5 Georgia, 'Times New Roman', Times, serif
}
a {
    color: blue;
    }
    a:hover {
        color: red;
    }
h2 {
    font-style: italic;
}
